* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* =======================================conmmon======================================= */
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 24px);
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 999px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.9;
}
.section-h2 {
  color: #10375c;

  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
/* =======================================header=======================================  */
.header {
  padding-top: 30px;
  min-height: 100vh;
  background: var(--header-bg);
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.action__log,
.navbar__link {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  padding: 8px 21px;
}
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
  position: relative;
}
.navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  bottom: 15px;
  left: 11px;
}
.action__sign {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}
.action__log {
  margin-right: 7px;
}
/* =======================================hero======================================= */
.hero__texts {
  width: 44%;
}
.hero__media {
  flex: 1;
}
.hero {
  padding-top: 76px;
  display: flex;
  align-items: center;
}
.hero__heading-1 {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.hero__book {
  margin-top: 38px;
}
.hero__phone {
  margin-left: 38px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.hero__img {
  display: flex;
}
.hero__img {
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 110px;
}
.hero__hello--large {
  border-radius: 6px;
  width: 330px;
  height: 540px;
  object-fit: cover;
  margin-right: -6px;
  z-index: 1;
}
.hero__hello--smale {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
  object-fit: cover;
}
/* =======================================service======================================= */
.service {
  padding: 170px 0;
}
.service__heading,
.section-desc {
  text-align: center;
}
.service__desc {
  width: 468px;
  margin: 0 auto;
  margin-top: 18px;
}
.service-row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service-item {
  padding: 21px;
  display: flex;
  width: 470px;
  border-radius: 10px;
  background-color: #fff;
}
.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.5s;
}
.service-item:hover .service-item__icon {
  color: #fff;
  background-color: #2e80ce;
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  width: 308px;
}
.service__btn {
  margin-top: 55px;
}
